<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <title></title>
</head>
<body>
<div id="app">
  <el-input v-model="emp.name" placeholder="姓名"></el-input>
  <el-input v-model="emp.salary" placeholder="工资"></el-input>
  <el-input v-model="emp.job" placeholder="工作"></el-input>
  <el-button type="primary" @click="add()">添加<i class="el-icon-upload el-icon--right"></i></el-button>

  <h1>员工列表</h1>
  <template>
    <el-table
            :data="arr"
            border
            style="width: 100%">
      <el-table-column type="index" lable="编号"></el-table-column>
      <el-table-column
              prop="name"
              label="姓名"
              width="180">
      </el-table-column>
      <el-table-column
              prop="salary"
              label="工资"
              width="180">
      </el-table-column>
      <el-table-column
              prop="job"
              label="工作">
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
                  size="mini"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
  </template>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v=new Vue({
        el: '#app',
        data: function() {
            return {
              arr:[{name:"张三",salary:2000,job:"销售"},
                {name:"李四",salary:5000,job:"HR"},
                {name:"王五",salary:6000,job:"程序员"}],
              emp:{name:"",salary:"",job:""}
            }
        },
        methods:{
          handleDelete(i, emp) {
            v.$message("您成功删除了"+emp.name);
            v.arr.splice(i,1);
          },
          add(){
            v.arr.push({name:v.emp.name,salary:v.emp.salary,job:v.emp.job});
          },
        }
    })
</script>
</html>
