<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.coolshark.mapper.BannerMapper">
  <!-- List<Category> select();-->
   <select id="select" resultType="cn.tedu.coolshark.pojo.entity.Banner">
       SELECT id,url FROM cs.banner
   </select>
    <!-- void deleteById(int id);-->
    <delete id="deleteById">
        DELETE FROM cs.banner
        WHERE id=#{id}
    </delete>
</mapper>
